@import url('https://fonts.googleapis.com/css2?family=Martel:wght@600&family=Roboto+Mono:wght@700&family=Viga&display=swap');

h1, h2 {
    font-family: 'Roboto Mono', monospace;
}

h3, h4, h5 {
    font-family: 'Martel', serif;
}

span, p, li, label {
    font-family: 'Viga', sans-serif;
}

